################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CardCollectionApi/DesignTimeBuild/.dtbcache.v2
/.vs/CardCollectionApi/FileContentIndex/09779d7a-d5e1-48c3-99d4-194585427fe2.vsidx
/.vs/CardCollectionApi/FileContentIndex/21edec04-68de-445c-ac9a-dc427990eeac.vsidx
/.vs/CardCollectionApi/FileContentIndex/56a77261-9aa6-45c3-be07-1e5916b6b555.vsidx
/.vs/CardCollectionApi/FileContentIndex/8c820a3c-dc16-43ab-96e3-4693e2a59772.vsidx
/.vs/CardCollectionApi/FileContentIndex/b34767ec-96e6-45fa-99bd-a32061778b4f.vsidx
/.vs/CardCollectionApi/v17/.futdcache.v2
/.vs/CardCollectionApi/v17/.suo
/.vs/CardCollectionApi/v17/DocumentLayout.backup.json
/.vs/CardCollectionApi/v17/DocumentLayout.json
/.vs/ProjectEvaluation/cardcollectionapi.metadata.v9.bin
/.vs/ProjectEvaluation/cardcollectionapi.projects.v9.bin
/.vs/ProjectEvaluation/cardcollectionapi.strings.v9.bin
*.vsidx
