################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CardCollectionApi/FileContentIndex
/.vs/CardCollectionApi/DesignTimeBuild
/.vs/
/CardCollectionApi/bin
/.vs/CardCollectionApi/v17/.futdcache.v2
/.vs/CardCollectionApi/v17/.suo
/.vs/CardCollectionApi/v17/DocumentLayout.backup.json
/.vs/CardCollectionApi/v17/DocumentLayout.json
/.vs/ProjectEvaluation/cardcollectionapi.metadata.v9.bin
/.vs/ProjectEvaluation/cardcollectionapi.projects.v9.bin
/.vs/ProjectEvaluation/cardcollectionapi.strings.v9.bin
/CardCollectionApi/obj/Debug/net8.0/CardCollectionApi.AssemblyInfo.cs
/CardCollectionApi/obj/Debug/net8.0/CardCollectionApi.AssemblyInfoInputs.cache
/CardCollectionApi/Dockerfile
